
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	right: 0;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
.menu-social ul {
    float: right;
    text-align: center;
    list-style: none;   
}

.menu-social ul li {
    position: relative;
    display:  inline-block; 
    background: #1d2157;
    &:hover {
    	background: #4d4d4d;
    }   
}

.menu-social li a:before {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-family: 'Fontawesome';
    font-size: 20px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    // content: '\f0c0';
}

/* social media */
.menu-social li a[href*="facebook.com"]::before { content: '\f082'; }

.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }

.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }

.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.menu-social li a[href*="github.com"]::before { content: '\f09b'; }

.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }

.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }

.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }

.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }

.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }

.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }


#menu-social li a { 
    height: 3rem;
    width: 3.75rem;        
    line-height: 0;
    padding-top: 22px;
    padding-right: 2.75rem;
} 
@media screen and (max-width: 930px) {
    #menu-social ul {
        position: absolute;
        top: 0;
        right: 3.75rem;
        display: block;
    }
    
    #menu-social li a { 
        height: 3.75rem;
        width: 3.75rem;        
        line-height: 0;
        padding-top: 28px;
        padding-right: 2.75rem;
    } 

}

.single-post span.comments-link,
.archive span.comments-link,
.search span.comments-link {
    margin-left: 0;
}


// Calendar 
#calendar_wrap {
    text-align: center;
}
thead { // header of calendar
    background: #4d4d4d;
    color: #fff;
    tr th:first-child { // rounded top left
        border-top-left-radius: 8px;
    }
    tr th:last-child { // rounded top right
        border-top-right-radius: 8px;
    }
}

tbody tr td { // Days
    &:nth-child(odd) { // even days
        background: #ccc;
    }   
    &:nth-child(2n) { // odd days
        background: #e1e1e1;
    } 
}
// keep the background consistent for the column
// regardless of whether it begins on even or 
// odd number of days into calendar 
tbody tr:nth-child(1) {
    td {
        background: #ccc;
    }
    td:nth-child(2n) {
        background: #e1e1e1;
    } 
    td[colspan="1"] ~ td:nth-child(even) {
        background: #e1e1e1;
    }
    td[colspan="2"] ~ td:nth-child(odd) {
        background: #e1e1e1;
    }
    td[colspan="3"] ~ td:nth-child(even) {
        background: #e1e1e1;
    }
    td[colspan="4"] ~ td:nth-child(odd) {
        background: #e1e1e1;
    }
    td[colspan="5"] ~ td:nth-child(even) {
        background: #e1e1e1;
    }
    td[colspan="6"] ~ td:nth-child(odd) {
        background: #e1e1e1;
    }
}

// checkerboard calendar
//----------------------
// tbody tr:nth-child(1) {
//     td[colspan="1"] ~ td:nth-child(even) {
//     background: #ccc;
// }
//     td[colspan="3"] ~ td:nth-child(even) {
//     background: #ccc;
// }
//     td[colspan="5"] ~ td:nth-child(even) {
//     background: #ccc;
// }
// td[colspan="3"] ~ td:nth-child(odd) {
//     background: #fff;
// }
// }
// tbody tr:nth-child(2) { 
//     background: #fff;
//     td:nth-child(odd) {
//         background: #ccc;
//     }
// }
// tbody tr:nth-child(3) { 
//     background: #ccc;
//     td:nth-child(odd) {
//         background: #fff;
//     }
// }
// tbody tr:nth-child(4) { 
//     background: #fff;
//     td:nth-child(odd) {
//         background: #ccc;
//     }
// }
// tbody tr:nth-child(5) { 
//     background: #ccc;
//     td:nth-child(odd) {
//         background: #fff;
//     }
// }
// tbody tr:nth-child(6) { 
//     background: #fff;
//     td:nth-child(odd) {
//         background: #ccc;
//     }
// }
//----------------------



// target the first empty line before
// day 1 of the month begins...
// tbody tr > td.pad:first-child {
//     background: #fff;
// }

// another, more efficient, way of writing it
// so that it only targets empty cells no matter
// where they show up on the calendar...
tbody tr > td[class="pad"] {
    background: #6e6e6e;
}

// or if you wanted to separate the 2 empty
// ends of the calendar...
// tbody tr > td[class="pad"]:first-child {
//     background: blue;
// }
// tbody tr > td[class="pad"]:last-child {
//     background: red;
// }

#wp-calendar { // footer of calendar
    background: #313131;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    caption { // Month: previous/next at bottom
        padding: 6px 0px;
        background: #313131;
        color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    a { // Dates that contain posts
        color: red;
    }
}
#wp-calendar tfoot {
    td { // Month: previous/next at bottom of calendar
    padding: 3px 0px;
    }
    a {
        padding: 2px 8px;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
    &:hover {
        color: #313131;
        background: #fefefe;
        text-decoration: none;
    }
}
}

// fancybox
// if box-sizing is not set to content-box the overlay
// will shift down and to the right a few pixels after
// it loads.
#fancybox-content, #fancybox-wrap {
    box-sizing: content-box;
}
