/*

TOC

# Primary Navigation
# Search
# Widgets

*/

/* 
# Primary Navigation 
*/
.main-navigation {
	background: #ee750a; // main nav bar
	li {
		&:hover > a,
		&:focus > a {
			background: #0b0b9a; // main nav bar:hover
		}
	}
	ul {
		ul {
			background: #0000ff; // 1st level dropdown
			a:hover,
			a.focus {
				background: #0b0b9a; // 1st level dropdown:hover
			}
		}
	}
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover {
    background: white; // main nav bar current page
    color: #313131;
    cursor: default;
}
.main-navigation .current_page_ancestor {
    background: #0b0b9a; // main nav bar current page ancestor
}
.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
    color: #fff;
    background: #0b0b9a; // dropdown current page ancestor
}
@media screen and (max-width: 720px) {
	.menu-toggle {
		background: #ee750a;
		&:hover {
			background: #0b0b9a;
		}
	}
	.main-navigation li:hover > a {
		background: #0b0b9a;
	}
	.main-navigation ul ul,
	.main-navigation ul ul ul {
		background: #0000ff;
	}
}

/*
# Search
*/
.search-box {
	background: #0b0b9a;
}
.search-toggle:hover,
.search-toggle.active {
    background: #0b0b9a;
}
/*
# Widgets
*/
.widget-title {
	color: #ee750a;
}
.widget a {
	color: #0b0b9a;

}