$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: green;
$color__link-hover: midnightblue;
$color__text-main: #757575;
$color__heading-main: #3e3e3e;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


/* --------- Original Styles --------- */
// Primary Menu 
$color__main-nav: #313131;
$color__main-nav-hover: #4d4d4d;
$color__main-nav-current-page-bkg: #fff;
$color__main-nav-current-page-txt: #313131;
$color__main-nav-current-page-ancestor: #4d4d4d;
$color__main-nav-dropdown: #4d4d4d;
$color__main-nav-dropdown-hover: #313131;
$color__dropdown-current-page-ancestor-bkg: #313131;
$color__dropdown-current-page-ancestor-txt: #fff;
// small screen nav
$color__menu-toggle: #313131;
$color__menu-toggle-border: #313131;
$color__menu-toggle-hover: #4d4d4d;
$color__small-menu-item: #313131;
$color__small-menu-hover: #4d4d4d;
$color__small-menu-current-page-bkg: #4d4d4d;
$color__small-menu-current-page-txt: #fff;
$color__small-menu-current-page-parent-bkg: inherit;
$color__small-menu-current-page-parent-txt: inherit;
$color__small-menu-item-ancestor-hover: #313131;
$color__small-menu-current-page-ancestor: inherit;

// search
$color__search-box: #4d4d4d;
$color__search-toggle-hover: #4d4d4d;

// widgets
$color__widget-title: #313131;
$color__widget-title-border-bottom-color: #757575;
$color__widget-link: #000;

// comments
$color__comment-by-post-author: #ededed;





/* --------- Stanton's CSS --------- 
// Primary Menu 
$color__main-nav: #ee750a;
$color__main-nav-hover: #0b0b9a;
$color__main-nav-current-page-bkg: #fff;
$color__main-nav-current-page-txt: #313131;
$color__main-nav-current-page-ancestor: #0b0b9a;
$color__main-nav-dropdown: #0000ff;
$color__main-nav-dropdown-hover: #0b0b9a;
$color__dropdown-current-page-ancestor-bkg: #0b0b9a;
$color__dropdown-current-page-ancestor-txt: #fff;
// small screen nav
$color__menu-toggle: #ee750a;
$color__menu-toggle-border: #ee750a;
$color__menu-toggle-hover: #0b0b9a;
$color__small-menu-item: #0000ff;
$color__small-menu-hover: #0b0b9a;
$color__small-menu-current-page-bkg: #0b0b9a;
$color__small-menu-current-page-txt: #fff;
$color__small-menu-current-page-parent-bkg: inherit;
$color__small-menu-current-page-parent-txt: inherit;
$color__small-menu-item-ancestor-hover: #0b0b9a;
$color__small-menu-current-page-ancestor: #ee750a;

// search
$color__search-box: #0b0b9a;
$color__search-toggle-hover: #0b0b9a;

// widgets
$color__widget-title: #ee750a;
$color__widget-title-border-bottom-color: #ee750a;
$color__widget-link: #0b0b9a;

// comments
$color__comment-by-post-author: #ededed;

*/