input[type="search"] {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
}

.search-box-wrapper {
    z-index: 2;
    width: 100%;
    display: none;
    max-width: 1280px;
    margin: 36px auto 0 auto;
}

.search-box {
    padding: 0.5em;
    background: $color__search-box;
}

.search-box .search-field {
    max-width: 300px;
    float: right;
    padding: 5px 15px 5px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 0;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}

.search-toggle {
    float: right;
    width: 36px;
    height: 36px;
    padding-top: 5px;
    margin-right: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.search-toggle:hover,
.search-toggle.active {
    background: $color__search-toggle-hover;
}

@media screen and (max-width: 720px) {
    .search-toggle {
        position: absolute;
        width: 39px;
        height: 39px;
        top: 0;
        right: 0;
        margin-right: 0;
    }
}